.board {
    background-color: green;
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    display: block;
}

.arrow-up, .arrow-down, .edit-icon, .deleteButton, .delete-card {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.deleteButton {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 20px;
}

.arrow-down {
    float: right;
    display: inline-block
}

.arrow-up {
    float: right;
    transform: rotate(180deg);
}

.column, .droptarget {
    width: 25%;
    margin-top: 15px;
    margin-left: 5px;
    min-height: 125px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid black;
    background: #fff;
    display: block;
}

.fourColumns {
    display: flex;
    flex-direction:row;
}

.card {
    background: pink;
    margin: 10px;
    min-height: 50px;
}

.card:hover .delete-card {
   opacity: 1;
}


.card-title:hover .edit-icon, .card-title:hover .delete-card {
  opacity:1;
}

.edit-icon, .delete-card {
  opacity:0;
  height: 15px;
  width: 15px;
}

.edit-icon:hover {
  opacity:1;
  height: 15px;
  width: 15px;
}

.change-card-name {
    width: 100%;
}

.card.over {
  border: 2px dashed #000;
  border-top: 2px solid red;
}

.delete-card {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.card-title {
  text-align: center;
  padding-top: 15px;
}