.board {
    background-color: green;
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    display: block;
}

.arrow-down {
    float: right;
    display: inline-block
}

.arrow-up {
    float: right;
    transform: rotate(180deg);
}

.column {
    width: 25%;
    margin-top: 15px;
    margin-left: 5px;
    min-height: 125px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid black;
    background: #fff;
    display: block;
}

.fourColumns {
    display: flex;
    flex-direction:row;
}

.card {
    background: pink;
    margin: 10px;
    padding: 15px;
}


.card-title:hover .edit-icon {
  opacity:1;
}

.edit-icon {
  opacity:0;
  height: 15px;
  width: 15px;
}

.edit-icon:hover {
  opacity:1;
  height: 15px;
  width: 15px;
}

.change-card-name {
    width: 100%;
}